body{
    background: #ebebeb;
    font-family: "Arial", sans-serif;
}

p{
    color: black
}

h1,
h2{color: black}

.evi{color: #000}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Stile dell'header */
  .header {
    background-color: #2c2a2a;
    position: fixed;
    width: 100%;
    top: 0;
  }
  
  .container {
    width: 100%;
    max-width: 1200px;
    /* margin: 0 auto; */
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }

  .logo img {
    height: 70px;
    margin-top: 7px;
    margin-bottom: 3px;
    margin-left: 10px;
  }
  
  .nav ul {
    list-style: none;
    display: flex;
    gap: 60px;
    font-size: 17px;
  }
  
  .nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    /* transition: color 0.3s; */
    display: inline-block;
  }
  
  .nav a:hover {
    color: #7e0b4e;
    transform: scale(1.2);
    transition-duration: 0.5s;
  }
  
  .actions .btn {
    background-color: #7e0b4e;
    color: white;
    padding: 10px 20px;
    border-radius: 1.5px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    /* transition: background-color 0.3s; */
    margin-right: -100px;

    border-width: 1.5px;
    border-color: #ffffff;
    border-style:solid;
  }
  
  .actions .btn:hover {
    background-color: #61093c;
    transform: scale(1.1);
    transition-duration: 0.5s;
  }

  .banner{
    background-image: url("immagini/schermata0_snap.jpg");
    height: 710px;
    background-size: cover;       /* o contain */
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 30px;
  }

  .space{
    height: 85px;
  }

  .testo{
    display: flex;
    justify-content: center;
    font-family:"Bebas Neue", sans-serif;
    font-size: 30px;
    font-style: normal;
  }

  
  /* Responsive Design: il design cambia se riduco le dimensioni della scheda */
  @media (max-width: 768px) {
    .nav ul {
      flex-direction: column;
      background-color: white;
      position: absolute;
      top: 70px;
      right: 0;
      width: 200px;
      display: none;
    }
  
    .nav ul.active {
      display: flex;
    }
  
    .nav-toggle {
      display: block;
      cursor: pointer;
    }
  
    .nav-toggle span {
      background: #ffffff;
      display: block;
      height: 3px;
      margin: 5px 0;
      width: 25px;
    }
  }

  /*carte*/
  .card-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }

  .card {
    background-color: #1e1e1e;
    border-radius: 15px;
    width: 250px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.3);
  }

  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 0, 0, 0.6);
  }

  .card img {
    width: 100%;
    border-radius: 10px;
  }

  .card h2 {
    margin: 10px 0 5px;
  }

  .card p {
    font-size: 14px;
    color: #ccc;
  }